{% extends "base.html" %}

{% block title %}
Transfer money form
{% endblock %}

{% block content %}
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    </br>
    {% endfor %}

    <form method="post">
    {{ form.csrf_token }}

    <div>
        <h2>Transfer</h2>
        <p>Active account ID: {{ active_account.Id }}</p>
        <p>Current balance: {{ active_account.Balance }}</p>
        <div>
          <div>
            <label for="transferAmount">Amount: </label>
            {{ form.transferAmount(class="input")  }}
          </div>
          <div>
            <label for="transactionType">Debit or credit </label>
            {{ form.transactionType(class="input")  }}
          </div>
          <div>
            <label for="destinationAccountId">Recipients account ID: </label>
            {{ form.destinationAccountId(class="input")  }}
          </div>
        </div>
        <div class="history-table">
            <input class="btn" type="submit" value="Send">
            <a href="/customer/{{ customer.Id }}/{{ active_account.Id }}" class="btn">Cancel</a>
        </div>
    </div>
    </form>

{% endblock %}